.contenedor1{       
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.item-titulo{
    font-family: Arial, Helvetica, sans-serif;
}

.item-titulo h1{
    color: rgb(148, 201, 219);    
}

.item-nav{
    background-color: #f5f5f5;
    flex-wrap: 1;    
}

.content-nav{
    display: flex;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Open Sans' ,sans-serif;
    margin-top: 1;
    padding-left: .5rem;
    padding-right: .5rem;    
}

.item-n{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-right: 2px black solid;
}

a{
    text-decoration: none;
    color: #000;
}

.contenedor2{    
    display: flex;
    align-items: flex-start;
    padding-left: 20%;
    padding-right: 20%;   
}

.item-masLeidas{
    flex: 1;        
    border: 1px #f5f5f5;            
}

.item-masLeidas h3{
    text-align: center;
    border-bottom: 1px #f5f5f5 solid;
    padding-bottom: 5px;
    background-color: #f5f5f5;
    font-family: 'Courier New', Courier, monospace;
}

.item-masLeidas ul{
    list-style: none;
}

.item-masLeidas li{
    text-align: center;
    padding: 25px;
    border-bottom: 1px #f5f5f5 solid;
}

.item-masLeidas a:hover{
   color: rgb(131, 179, 195);
}

.item-notaGeneral{
    flex: 2;        
}

.item-notaGeneral h3{
    color: rgb(0, 169, 220);
}

.item-notaGeneral h1{
    font-size: 3em;
    font-weight: 900;
    font-family: serif;
}

.item-notaGeneral img{
    width: 100%;
}

.item-notaGeneral .separador{
    border-top: 1px #f5f5f5 solid;
    border-bottom: 1px #f5f5f5 solid;
    margin-bottom: 15px;    
    display: flex;
    justify-content: space-between;
    
}

.item-notaGeneral .separador1{
   flex: 1;
   align-self: center;   
    
}

.item-notaGeneral .separador ul{
    list-style: none;    
    padding-left: 50%;
    
}

.item-notaGeneral .iconosCompartidos{
    flex: 1;    
    display: flex;  
}

.item-notaGeneral .iconosCompartidos img{
    width: 40px;
    height: 40px;
}

.relacionado .rel h5{    
    margin-bottom: 0px;
}

.relacionado .rel2 {
    display: flex;
    text-align: left;
    padding-top: 0;
}

.relacionado .rel2 p{
    padding-right: 15px;
}

.relacionado .rel2 a{
   color: rgb(0, 169, 220);
}

.relacionado .rel2 a:hover{
    color: rgb(0, 169, 220);
    text-decoration: underline;
 }

 footer{
    background-color: #f5f5f5;       
 }

 .iconosFooter ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
 }

 footer img{
    width: 40px;
    height: 40px;       
 }

 @media screen and (max-width: 950px){   
    #lasMas{
    display: none;
    }

    #nav9 ,#nav10 ,#nav11 ,#nav12 ,#nav13 ,#nav14 ,#nav15 ,#nav16{
        display: none;
    }
 }

 @media screen and (max-width: 600px){
    body{
     width: 100%;
    }

    #lasMas{
        display: none;
        }
 
    #nav1 ,#nav5 ,#nav6 ,#nav7 ,#nav8 ,#nav9 ,#nav10 ,#nav11 ,#nav12 ,#nav13 ,#nav14 ,#nav15 ,#nav16{
        display: none;
    }

    .contenedor2{
        padding-left: 0px;
        padding-right: 0px;
    }

    #separ{
        display: none;
    }
 
  }


 
